.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los elementos horizontalmente */
    gap: 20px; /* Espacio entre elementos */
    margin: 20px auto; /* Esto centra el contenedor horizontalmente y agrega margen en la parte superior e inferior */
    margin-bottom: 10px auto;
    padding-bottom: 5%;
}

.product-card {
    width: calc(33.33% - 20px);
    margin-bottom: 5px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card h3 {
    margin-top: 0;
}

.product-description {
    margin-bottom: 10px;
}

.detail-link {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
}

.detail-link:hover {
    background-color: #0056b3;
}

.content-wrapper {
    text-align: center;
    margin-top: 40px;
}
.content-wrapper h1 {
    margin-bottom: 15px; 
}
form {
    display: inline-block; 
}
label {
    display: block;
    margin-bottom: 10px; 
}
input[type="text"] {
    width: 300px; 
    padding: 8px;
    border-radius: 5px; 
    border: 1px solid #ccc; 
    margin-bottom: 10px; 
}
button {
    padding: 10px 20px; 
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}
button:hover {
    background-color: #0056b3; 
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
header h1 {
    margin: 0;
}
header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
header nav ul li {
    display: inline;
    margin-right: 20px;
}
header nav ul li a {
    color: #fff;
    text-decoration: none;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 25px;
}

.product-details {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.product-image img {
    width: 270px; /* Ajusta el tamaño de la imagen según sea necesario */
    display: block;
    margin-right: 20px; /* Ajusta el margen derecho según sea necesario */
    float: left; /* Alinea la imagen a la izquierda */
  }
  

.product-info {
    flex: 2;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto; /* Centrar la tabla */
}

.product-table th,
.product-table td {
    border: 1px solid #ddd;
    padding: 12px;
}

.product-table th {
    background-color: #f2f2f2;
    text-align: left;
}

.attribute {
    font-weight: bold;
}

@media (max-width: 768px) {
    .product-details {
        flex-direction: column;
    }

    .product-image {
        margin-right: 0;
    }
}
