<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título por defecto{% endblock %}</title>
    <!-- Enlace al favicon -->
    <link rel="icon" type="image/png" href="https://us.123rf.com/450wm/popaukropa/popaukropa1710/popaukropa171000042/87469433-letra-k-letra-bitcoin-alfabeto-de-criptomonedas-letras-de-dinero-virtual-ilustraci%C3%B3n-vectorial.jpg">
    <!-- Enlace a tu archivo CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <!-- Aquí va tu cabecera -->
    <h1>¡Bienvenido a la Kikoshop!</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Inicio</a></li>
            <li><a href="{{ url_for('Contact') }}">Busqueda</a></li>
        </ul>        
    </nav>
</header>

<main>
    <!-- Este bloque será reemplazado por el contenido de las páginas individuales -->
    {% block content %}{% endblock %}
</main>

<footer>
    <!-- Aquí va tu pie de página -->
    <p>&copy; 2024 Mi Sitio Web</p>
</footer>
</body>
</html>
