{% extends 'base.html' %}

{% block title %}Resultados de la búsqueda{% endblock %}
{% block page_title %}Resultados de la búsqueda{% endblock %}

{% block content %}
<div class="content-wrapper">
    <h2>Resultados de la búsqueda para "{{ search_term }}"</h2>
    <div class="results-container">
        {% for producto in resultados %}
        <div class="product-card">
            <h3>{{ producto.titulo }}</h3>
            <p class="product-description">{{ producto.descripcion }}</p>
            <p class="product-description">{{producto.precio}}€</p>
            <a href="/producto/{{ producto.id }}" class="detail-link">Detalle</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}